/* 全局css变量 */
$--color-primary: #409EFF;

.primary-color {
  color: $--color-primary;
}

.background-opacity {
  background: rgba(64, 158, 255, 0.6);
}

.form-widget-list {

  .ghost{
    content: '';
    font-size: 0;
    height: 3px;
    box-sizing: border-box;
    background: $--color-primary;
    border: 2px solid $--color-primary;
    outline-width: 0;
    padding: 0;
    overflow: hidden;
  }
}

.el-form-item--medium {
  .el-radio {
    line-height: 36px !important;
  }

  .el-rate{
    margin-top: 8px;
  }
}

.el-form-item--small {
  .el-radio {
    line-height: 32px !important;
  }

  .el-rate{
    margin-top: 6px;
  }
}

.el-form-item--mini {
  .el-radio {
    line-height: 28px !important;
  }

  .el-rate{
    margin-top: 4px;
  }
}

.el-card {
  margin-top: 3px;
  margin-bottom: 3px;
}

.readonly-mode-form .el-form-item__content {
  background-color: #f1f2f3;  /* 只读查看状态-默认底色 */
}

input[type="password"]::-ms-reveal {  /* 隐藏IE/Edge原生的密码查看按钮 */
  display: none;
}
